/*-- scss:defaults --*/

$primary: #D91A36;     /* Kırmızı (Linkler ve belirgin alanlar) */
$secondary: #FF85A1;   /* Pembe (İkincil detaylar) */
$body-bg: #F5F5F7;     /* Açık Gri (Sitenin arka planı) */
$body-color: #333333;  /* Koyu Gri (Yazı okunaklı olsun diye) */
$navbar-bg: #FF85A1;   /* Üst Menü Şeridinin Rengi (Pembe) */